.accountForm {
  width: 90%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;  
  padding: 20px;   
}

.formTitle {
  color: #000;
  font: 400 40px 'Roboto Condensed', sans-serif;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

.inputGroup {
  width: 100%;
  margin-bottom: 13px;
}

.formInput {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 0.4);
  border: none;
  font: 20px Roboto, sans-serif;
  color: #000;
  box-sizing: border-box; 
}

.submitButton {
  background-color: #9DC3FF;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 18px 40px;
  font: 600 18px Roboto, sans-serif;
  cursor: pointer;
  margin-top: 30px;
  width: 30%;    
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}