.order-adminContainer {
    background-color: #fff;
    padding: 32px;
    overflow: hidden;
    user-select: none;
  }
  
  .order-contentWrapper {
    gap: 20px;
    display: flex;
  }
  
  .order-sidebarColumn {
    display: flex;
    flex-direction: column;
    width: 28%;
  }
  
  .order-mainColumn {
    display: flex;
    flex-direction: column;
    width: 72%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .order-adminContainer {
      padding: 0 20px;
    }
  
    .order-contentWrapper {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .order-sidebarColumn,
    .order-mainColumn {
      width: 100%;
      margin-left: 0;
    }
  }