.productCard {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  min-width: 240px;
  max-width: 315px;
  flex-direction: column;
  justify-content: start;
  padding: 16px 16px 57px;
  border: 1px solid rgba(217, 217, 217, 1);
}

.productCard:hover {
  transform: translateY(-10px); /* Move up by 4 pixels */
  transition: transform 0.3s ease-in-out; /* Apply transition to transform */
  cursor: pointer;
}

.productImage {
  aspect-ratio: 1.15;
  object-fit: contain;
  object-position: center;
  width: 100%;
  min-height: 247px;
}

.productContent {
  display: flex;
  margin-top: 16px;
  width: 208px;
  max-width: 100%;
  flex-direction: column;
  justify-content: start;
}

.productTitle {
  flex: 1;
  width: 100%;
  white-space: nowrap;
}

.productPrice {
  align-self: start;
  margin-top: 8px;
  white-space: nowrap;
}

.productDescription {
  margin-top: 8px;
  width: 100%;
}