.mainpage-adminContainer {
  display: flex;
  height: 100vh; /* Ensures the container fills the entire screen */
  background-color: #f8f9fa; /* Match your design theme */
}

.mainpage-contentWrapper {
  display: flex;
  flex: 1;
  background-color: #f8f9fa; /* Matches the white background of the main section */
}

.mainpage-main {
  flex: 1;
  background-color: #f8f9fa; /* Matches the main content's background */
  padding: 20px;
}

.mainpage-header {
  margin-bottom: 20px;
  text-align: center;
}

.mainpage-header h1 {
  margin: 0;
  color: #343a40;
  font-size: 2.5rem;
}

.mainpage-header p {
  color: #6c757d;
  font-size: 1.2rem;
}

.mainpage-dashboardWidgets {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.widget {
  flex: 1 1 calc(25% - 20px);
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.widget h3 {
  margin: 0 0 10px;
  color: #495057;
  font-size: 1.2rem;
}

.widget p {
  margin: 0;
  color: #007bff;
  font-size: 1.5rem;
  font-weight: bold;
}

.mainpage-reports {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainpage-reports h2 {
  margin-bottom: 15px;
  color: #343a40;
}

.mainpage-reports ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mainpage-reports ul li {
  margin-bottom: 10px;
  color: #6c757d;
  font-size: 1rem;
}

@media(max-width: 991px){
 .mainpage-main{
  margin-top: 150px;
 }
}

@media(max-width: 481px){
  .mainpage-main{
    margin-top: 300px;
   }
}
